@using CoreApp.Controllers
@model CoreApp.Entities.Restaurant

<!DOCTYPE html>
<html>
<head>
    <title>Restaurant details</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <div>Details</div>

    <div>@Html.ActionLink("Home", nameof(HomeController.Index))</div>
</body>
</html>